:root {
  --color-white: #fff;
  --color-light: #f6f6f6;
  --color-primary: #01a2a6;
  --color-primary-2: 1, 162, 166;
  --color-secondary: #29d9c2;
  --color-tertiary: #f2fefe;
  --color-dark: #10273d;
  --color-main-button: #ffffa6;
  --color-print-button: #c3f37f;
  --color-yellow-1: #dacd7f;
  --color-yellow-2: #aea25c;
  --color-yellow-3: #f5e99e;
  --color-yellow-intense: #fff772;
  --color-border: #d5d57d;
  --color-text-info: #a2a2a2;
  --color-grey-light: #aeaeae;
  --color-grey-light-2: #d2d9d9;
  --color-grey-light-3: #acacac;
  --color-grey-dark: #777777;
  --color-grey-dark-2: #8c8c8c;
  --color-grey-dark-3: #5d5c5c;
  --color-black:#000;
  --color-dark-2: #2f2933;
  --color-dark-3: 47, 41, 51;
  --color-fb: #3C5A99;
  --color-twitter: #1DA1F2;
  --color-insta: #d62976; }

@font-face {
  font-family: 'Chunk';
  src: url(../css/fonts/Chunk.otf); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

.content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem; }

.logo {
  width: 16rem; }
  .logo__brand {
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white); }
    .logo__brand--strong {
      font-weight: 700; }
    @media only screen and (max-width: 28.125em) {
      .logo__brand {
        font-size: 2rem; } }
  @media only screen and (max-width: 73.125em) {
    .logo {
      margin-left: 5rem; } }

.hamburger {
  top: 5rem;
  right: 1.5rem;
  background-color: transparent;
  position: fixed;
  display: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
  outline: none; }
  @media only screen and (max-width: 61.88em) {
    .hamburger {
      display: flex; } }
  .hamburger__box {
    position: relative;
    width: 4rem;
    height: 4rem; }
    @media only screen and (max-width: 28.125em) {
      .hamburger__box {
        width: 3rem;
        height: 2.5rem; } }
  .hamburger__inner {
    width: 100%;
    height: 4px;
    background-color: var(--color-grey-dark-3);
    position: absolute;
    border-radius: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease-in-out; }
  .hamburger__inner::before, .hamburger__inner::after {
    width: 100%;
    height: 4px;
    background-color: var(--color-grey-dark-3);
    position: absolute;
    border-radius: 2px;
    content: '';
    left: 0;
    transition: transform .3s ease-in-out; }
  .hamburger__inner::before {
    top: -10px; }
  .hamburger__inner::after {
    top: 10px; }
  .hamburger--active .hamburger__inner {
    background-color: transparent; }
  .hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg); }
  .hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg); }

.nav-box {
  display: flex;
  flex-direction: row;
  align-items: center; }

.nav {
  width: 54rem;
  margin-right: 2rem; }
  .nav__list {
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    display: flex; }
    @media only screen and (max-width: 61.88em) {
      .nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--color-border);
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 7rem 0;
        display: none; } }
  .nav__item {
    align-self: center; }
    @media only screen and (max-width: 61.88em) {
      .nav__item {
        width: 80%;
        margin-bottom: 1rem;
        justify-content: center; }
        .nav__item:first-child {
          margin-top: 1rem; } }
  .nav__item:not(:first-child) a:hover {
    border: 2px solid var(--color-white);
    border-radius: 5rem;
    padding: 1rem 2rem;
    overflow: hidden;
    background-color: var(--color-primary);
    backface-visibility: hidden; }
    @media only screen and (max-width: 61.88em) {
      .nav__item:not(:first-child) a:hover {
        padding: 2rem; } }
  .nav__link, .nav__link:link, .nav__link:visited {
    color: var(--color-white);
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all .2s;
    border: 2px solid transparent;
    box-sizing: content-box;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 61.88em) {
      .nav__link, .nav__link:link, .nav__link:visited {
        display: flex;
        align-self: center;
        padding: 2rem;
        justify-content: center;
        font-size: 1.6rem;
        width: 80%; } }

.open {
  display: flex !important; }

.active {
  border: 3px solid var(--color-white) !important;
  border-radius: 5rem;
  box-sizing: content-box;
  padding: 1rem .5rem;
  font-weight: 700; }
  @media only screen and (max-width: 61.88em) {
    .active {
      border: 2px solid var(--color-white) !important;
      background-color: var(--color-primary);
      backface-visibility: hidden;
      padding: 0; } }

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5rem; }
  @media only screen and (max-width: 61.88em) {
    .user {
      position: absolute;
      top: 4.5rem;
      right: 4rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 28.125em) {
    .user {
      margin-right: 1.5rem; } }
  .user__photo {
    margin-right: .5rem;
    width: 4rem;
    height: 4rem; }
    @media only screen and (max-width: 28.125em) {
      .user__photo {
        width: 3rem;
        height: 3rem; } }
  .user__photo-img {
    border-radius: 50%;
    width: 100%;
    height: 100%; }
  .user__arrow:hover {
    cursor: pointer; }

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 28.125em) {
    .heading {
      margin-top: -5rem; } }

.slogan {
  font-size: 8rem;
  font-family: 'Chunk';
  margin-bottom: .5rem;
  text-transform: uppercase;
  color: var(--color-white);
  letter-spacing: .2rem; }
  @media only screen and (max-width: 57.5em) {
    .slogan {
      font-size: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .slogan {
      font-size: 5rem; } }
  @media only screen and (max-width: 28.125em) {
    .slogan {
      font-size: 3.5rem;
      margin-bottom: 2rem; } }
  .slogan--color {
    color: var(--color-primary); }
  .slogan__sub {
    color: var(--color-white);
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: .1rem; }
    @media only screen and (max-width: 57.5em) {
      .slogan__sub {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .slogan__sub {
        margin: 0 2rem; } }
    @media only screen and (max-width: 28.125em) {
      .slogan__sub {
        font-size: 1.1rem; } }
    .slogan__sub:not(:last-child) {
      margin-bottom: 1rem; }

.btn-box {
  position: absolute;
  bottom: 0;
  right: 0; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  color: var(--color-dark);
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  padding: 3rem 4rem;
  border-radius: 4rem;
  border: none;
  display: inline-block;
  margin-top: 3.5rem;
  transition: all .2s;
  box-sizing: content-box; }

.btn--main {
  background-color: var(--color-main-button);
  overflow: hidden; }
  @media only screen and (max-width: 28.125em) {
    .btn--main {
      padding: 2rem 3rem !important;
      font-size: 1.2rem !important;
      margin-top: 3rem !important; } }

.btn--send {
  background-color: var(--color-print-button);
  color: var(--color-white); }

.btn--ittinery {
  background-color: var(--color-print-button);
  border-radius: 10rem;
  display: flex;
  flex-direction: row;
  transition: all .2s; }
  @media only screen and (max-width: 28.125em) {
    .btn--ittinery {
      padding: 1rem 2rem !important;
      font-size: 1rem !important;
      align-items: center; } }
  .btn--ittinery:not(:last-child) {
    margin-right: 3rem; }
    @media only screen and (max-width: 28.125em) {
      .btn--ittinery:not(:last-child) {
        margin-right: 1.5rem; } }
  .btn--ittinery:hover {
    cursor: pointer;
    outline: none;
    background-color: var(--color-grey-dark) !important; }

.btn--contact {
  display: grid;
  justify-self: end;
  margin-top: 3rem;
  transition: all .2s; }
  .btn--contact:hover {
    background-color: var(--color-grey-dark) !important;
    cursor: pointer; }
  @media only screen and (max-width: 28.125em) {
    .btn--contact {
      padding: 2rem !important;
      margin-bottom: 2rem;
      font-size: 1rem !important; } }

.btn--print {
  background-color: var(--color-secondary);
  color: var(--color-white); }

.btn:hover {
  background-color: var(--color-yellow-3);
  transform: translateY(-0.5rem); }

.btn__img {
  height: 2.5rem;
  margin-right: 2rem; }
  @media only screen and (max-width: 28.125em) {
    .btn__img {
      height: 1.8rem; } }

.btn__text {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--color-white); }

.btn-more {
  width: 11rem;
  height: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem; }
  .btn-more__inline, .btn-more__inline:link, .btn-more__inline:visited {
    color: var(--color-light);
    text-transform: lowercase;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    border: none;
    letter-spacing: 0.2rem;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1.5px solid transparent; }
    @media only screen and (max-width: 28.125em) {
      .btn-more__inline, .btn-more__inline:link, .btn-more__inline:visited {
        font-size: 1.4rem; } }
  .btn-more__inline:hover {
    border-bottom: 1.5px solid var(--color-grey-light-2);
    animation-name: forward-move;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate; }

.buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  @media only screen and (max-width: 28.125em) {
    .buttons-box {
      justify-content: center;
      margin: 0 1rem; } }

.forward {
  margin-left: 1rem;
  font-weight: 700; }

@keyframes forward-move {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

.home-box {
  opacity: 0.8;
  background-color: var(--color-white);
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding-top: 12.5rem;
  padding-bottom: 11rem; }
  @media only screen and (max-width: 61.88em) {
    .home-box {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: none;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding-bottom: 7rem; } }
  @media only screen and (max-width: 28.125em) {
    .home-box {
      padding-bottom: 5rem; } }
  .home-box__img {
    width: 55rem;
    padding-left: 5rem;
    padding-right: 8rem; }
    @media only screen and (max-width: 61.88em) {
      .home-box__img {
        display: grid;
        grid-row: 2/3;
        padding: 0;
        width: 35rem;
        justify-self: center; } }
    @media only screen and (max-width: 28.125em) {
      .home-box__img {
        width: 70%; } }
  .home-box__description {
    padding-left: 1.5rem; }
    @media only screen and (max-width: 61.88em) {
      .home-box__description {
        display: grid;
        justify-self: center;
        padding: 0 9rem; } }
    @media only screen and (max-width: 28.125em) {
      .home-box__description {
        padding: 0 1rem; } }
  .home-box__paragraph {
    margin-top: 7rem;
    padding-right: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .home-box__paragraph {
        padding-right: 0;
        margin-top: 4rem; } }
    @media only screen and (max-width: 28.125em) {
      .home-box__paragraph {
        margin-left: 3rem;
        margin-right: 3rem; } }

.heading-secondary {
  font-family: 'Chunk';
  font-size: 6rem;
  color: var(--color-secondary);
  letter-spacing: .3rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 4rem;
      text-align: center; } }
  @media only screen and (max-width: 28.125em) {
    .heading-secondary {
      font-size: 2.8rem; } }
  .heading-secondary--color {
    color: var(--color-primary); }
  .heading-secondary--white {
    color: var(--color-white); }

.info {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: var(--color-text-info);
  line-height: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .info {
      font-size: 1.4rem;
      line-height: 3.5rem;
      text-align: center; } }
  @media only screen and (max-width: 28.125em) {
    .info {
      font-size: 1.2rem;
      line-height: 2.5rem; } }
  .info--strong {
    font-weight: 900; }
    @media only screen and (max-width: 37.5em) {
      .info--strong {
        font-weight: 100; } }
  .info--center {
    text-align: center; }
  .info--white {
    color: var(--color-white); }

.heading-tertiary {
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: var(--color-primary); }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2.5rem; } }
  .heading-tertiary--white {
    font-size: 4.5rem;
    color: var(--color-white); }
    @media only screen and (max-width: 37.5em) {
      .heading-tertiary--white {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 28.125em) {
      .heading-tertiary--white {
        font-size: 2.8rem; } }

.travel-picture {
  width: 9rem; }
  .travel-picture--3 {
    width: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .travel-picture--3 {
        width: 5rem; } }

.little-heading {
  font-size: 1.6rem;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: var(--color-secondary); }
  @media only screen and (max-width: 28.125em) {
    .little-heading {
      font-size: 1.3rem; } }

.destination-info__primary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-right: 16rem;
  padding-left: 10rem;
  padding-top: 7rem; }
  @media only screen and (max-width: 65.31em) {
    .destination-info__primary {
      padding-right: 6rem; } }
  @media only screen and (max-width: 57.5em) {
    .destination-info__primary {
      padding-left: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .destination-info__primary {
      flex-direction: column; } }
  @media only screen and (max-width: 28.125em) {
    .destination-info__primary {
      padding-top: 5rem; } }

.destination-info__secondary {
  padding-top: 7rem;
  padding-left: 10rem;
  width: 80rem; }
  @media only screen and (max-width: 57.5em) {
    .destination-info__secondary {
      padding-left: 5rem;
      padding-right: 5rem;
      width: 100%; } }
  @media only screen and (max-width: 31.25em) {
    .destination-info__secondary {
      padding-top: 3rem; } }

.destination-info__tertiary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-right: 16rem;
  padding-left: 10rem;
  padding-top: 7rem;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 57.5em) {
    .destination-info__tertiary {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;
      padding-right: 10rem;
      padding-top: 5rem; } }

@media only screen and (max-width: 61.88em) {
  .choiced-places {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; } }

@media only screen and (max-width: 57.5em) {
  .choiced-places {
    margin-top: 4rem; } }

@media only screen and (max-width: 37.5em) {
  .choiced-places {
    margin-top: 2rem; } }

@media only screen and (max-width: 28.125em) {
  .choiced-places {
    width: 20rem; } }

.choiced-places__category:not(:first-child) {
  margin-left: 2rem; }

.choiced-places__link, .choiced-places__link:link, .choiced-places__link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: var(--color-grey-light-2);
  text-transform: uppercase; }
  @media only screen and (max-width: 28.125em) {
    .choiced-places__link, .choiced-places__link:link, .choiced-places__link:visited {
      font-size: 1.3rem; } }

.search {
  display: flex;
  flex-direction: row-reverse;
  border: none;
  width: 24rem;
  height: 4rem;
  margin-bottom: 2rem;
  position: relative;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 57.5em) {
    .search {
      width: 40rem; } }
  @media only screen and (max-width: 37.5em) {
    .search {
      width: 27rem; } }
  .search__input {
    background-color: var(--color-white);
    border-radius: 20rem;
    border: 1px solid var(--color-grey-light-2);
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    color: var(--color-grey-light-2);
    padding-left: 5rem;
    position: absolute;
    transition: all .2s; }
    @media only screen and (max-width: 28.125em) {
      .search__input {
        font-size: 1.2rem;
        width: 85%; } }
  .search__input:focus, .search__input:active {
    outline: none;
    box-shadow: 0 0.5rem 0.5rem var(--color-grey-light); }
  .search__button {
    background-color: transparent;
    height: 99%;
    border: none;
    padding: 0 1.5rem;
    position: absolute;
    left: 0;
    z-index: 999; }
    @media only screen and (max-width: 28.125em) {
      .search__button {
        height: 80%;
        left: 2rem; } }
  .search__icon {
    display: flex;
    align-self: center; }
    .search__icon:hover, .search__icon:active {
      cursor: pointer; }

.see-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all .2s;
  padding: 0 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .see-box {
      margin-top: 3rem;
      justify-content: center; } }
  .see-box__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem; }
  .see-box__paragraph {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    text-transform: lowercase;
    color: var(--color-grey-light); }
    @media only screen and (max-width: 28.125em) {
      .see-box__paragraph {
        font-size: 1.3rem; } }

.see-box:hover {
  backface-visibility: hidden;
  cursor: pointer;
  background-color: var(--color-white);
  border: none;
  border-radius: 50rem;
  transform: scale(0.9); }

.dash {
  color: var(--color-grey-dark); }

.active-place {
  color: var(--color-grey-dark) !important; }

.destination-main {
  display: grid;
  grid-template-columns: 70rem 1fr;
  background-image: url(../img/photo2.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: end;
  align-items: end; }
  @media only screen and (max-width: 65.31em) {
    .destination-main {
      grid-template-rows: 1fr 30rem;
      background-image: none;
      grid-template-columns: none; } }
  .destination-main__picture {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative; }
    @media only screen and (max-width: 65.31em) {
      .destination-main__picture {
        background-image: url(../img/photo2.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        grid-row: 2/3; } }
  .destination-main__descript {
    background-color: var(--color-white);
    opacity: .95;
    position: relative; }
    @media only screen and (max-width: 65.31em) {
      .destination-main__descript {
        padding: 0 7rem; } }
    @media only screen and (max-width: 28.125em) {
      .destination-main__descript {
        padding: 0 1rem; } }
    .destination-main__descript::after {
      content: "";
      width: 2rem;
      height: 2rem;
      background-color: var(--color-white);
      z-index: 1000;
      transform: rotate(45deg);
      position: absolute;
      top: 58%;
      right: 97%; }
  .destination-main__box {
    padding-right: 5rem;
    padding-left: 3rem;
    padding-top: 5rem;
    padding-bottom: 8rem; }
    @media only screen and (max-width: 28.125em) {
      .destination-main__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; } }

.picture-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 4.5rem;
  margin-bottom: 2rem; }
  .picture-main--bigger {
    height: 8rem; }
  .picture-main--smaller {
    margin-top: 4.5rem;
    height: 4rem; }

.info-main {
  margin-top: 3rem; }

.destination-others {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 3.5rem;
  margin-bottom: 7.5rem; }
  @media only screen and (max-width: 65.31em) {
    .destination-others {
      display: flex;
      flex-direction: column; } }
  .destination-others__other {
    display: grid;
    grid-template-columns: 1fr 37rem;
    background-image: url(../img/photo3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 3rem; }
    @media only screen and (max-width: 65.31em) {
      .destination-others__other {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-right: 0;
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .destination-others__other {
        display: flex;
        flex-direction: column; } }
  .destination-others__description {
    padding-left: 3.5rem;
    background-color: var(--color-white);
    opacity: .95;
    position: relative;
    padding-bottom: 4rem;
    padding-right: 3rem; }
    @media only screen and (max-width: 28.125em) {
      .destination-others__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem; } }
    @media only screen and (max-width: 28.125em) {
      .destination-others__description {
        padding-left: 3rem;
        padding-right: 3rem; } }
    .destination-others__description::after {
      content: "";
      width: 2rem;
      height: 2rem;
      background-color: var(--color-white);
      z-index: 1000;
      transform: rotate(45deg);
      position: absolute;
      top: 48%;
      left: 97%; }
  .destination-others__photo {
    background-image: url(../img/photo4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 4rem;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .destination-others__photo {
        height: 25rem; } }
  .destination-others__picture {
    background-image: url(../img/photo5.png);
    position: relative; }
    @media only screen and (max-width: 65.31em) {
      .destination-others__picture {
        background-size: cover;
        background-position: center;
        display: flex;
        height: 25rem; } }

.holiday-picture-box {
  background-color: var(--color-white);
  border-radius: 50% 50%;
  width: 13rem;
  height: 13rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 28.125em) {
    .holiday-picture-box {
      width: 9rem;
      height: 9rem; } }

.travel-picture {
  object-fit: contain; }

.info-box {
  padding-top: 3rem; }

.pages-box {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  padding-bottom: 9rem; }

.pages {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: space-around;
  align-items: center;
  list-style: none; }
  .pages__item:last-child {
    margin-left: -2rem; }
  .pages__link, .pages__link:link, .pages__link:visited {
    text-decoration: none;
    font-family: 'Chunk';
    color: var(--color-grey-light-3);
    font-size: 1.8rem; }
    @media only screen and (max-width: 28.125em) {
      .pages__link, .pages__link:link, .pages__link:visited {
        font-size: 1.4rem; } }

.active-page {
  font-size: 2.4rem !important;
  color: var(--color-primary) !important; }
  @media only screen and (max-width: 28.125em) {
    .active-page {
      font-size: 2rem !important; } }

.set-ittinery-info {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15rem; }
  @media only screen and (max-width: 57.5em) {
    .set-ittinery-info {
      padding-bottom: 9rem; } }
  @media only screen and (max-width: 37.5em) {
    .set-ittinery-info {
      padding-bottom: 6rem;
      margin: 0 3rem;
      margin-top: 7rem; } }

.info-ittinery {
  width: 74rem;
  margin-top: 7rem; }
  @media only screen and (max-width: 57.5em) {
    .info-ittinery {
      width: 100%;
      padding: 0 5rem; } }
  @media only screen and (max-width: 28.125em) {
    .info-ittinery {
      padding: 0 1rem;
      margin-top: 4rem; } }

.set-ittinery {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 73.125em) {
    .set-ittinery {
      margin-left: 3rem; } }
  @media only screen and (max-width: 57.5em) {
    .set-ittinery {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-left: 0; } }
  .set-ittinery__plan {
    width: 67rem;
    padding-right: 3rem;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 57.5em) {
      .set-ittinery__plan {
        padding-right: 0; } }
    @media only screen and (max-width: 43.75em) {
      .set-ittinery__plan {
        width: 50rem; } }
    @media only screen and (max-width: 37.5em) {
      .set-ittinery__plan {
        width: 44rem; } }
    @media only screen and (max-width: 28.125em) {
      .set-ittinery__plan {
        width: 30rem; } }
  .set-ittinery__destination {
    width: 47rem; }
    @media only screen and (max-width: 57.5em) {
      .set-ittinery__destination {
        margin-bottom: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .set-ittinery__destination {
        width: 41rem; } }
    @media only screen and (max-width: 28.125em) {
      .set-ittinery__destination {
        width: 30rem; } }
  .set-ittinery__title {
    text-align: center;
    font-size: 1.8rem;
    color: var(--color-secondary);
    font-family: 'Lato', sans-serif;
    font-weight: 900; }
    .set-ittinery__title hr {
      width: 15%;
      margin: 0 auto;
      border-bottom: 1px solid var(--color-secondary);
      margin-top: 2rem; }
  .set-ittinery__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    height: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .set-ittinery__search {
        margin-bottom: 2rem;
        justify-content: center; } }
  .set-ittinery__select-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%; }
  .set-ittinery__input {
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 2.5rem;
    position: relative;
    margin-right: 3rem;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .set-ittinery__input {
        width: 20rem; } }
    @media only screen and (max-width: 28.125em) {
      .set-ittinery__input {
        width: 14rem;
        margin-right: 2rem; } }
  .set-ittinery__place {
    width: 95%;
    border: 0.5px solid var(--color-grey-light-2);
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
    padding: 1rem 0;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 37.5em) {
      .set-ittinery__place {
        width: 100%; } }
    @media only screen and (max-width: 28.125em) {
      .set-ittinery__place {
        width: 80%;
        margin: auto;
        margin-top: 1rem; } }
  .set-ittinery__text {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: none;
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .set-ittinery__text {
        width: 80%;
        margin-left: 2rem; } }
    .set-ittinery__text:focus {
      outline: none;
      border: 0.5px solid var(--color-grey-light-2);
      border-radius: 1rem; }
  .set-ittinery__img {
    position: absolute;
    display: flex;
    align-self: center;
    z-index: 999;
    right: 0;
    height: 1.5rem;
    padding-right: 1rem; }
    .set-ittinery__img:hover {
      cursor: pointer; }
  .set-ittinery__info {
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: var(--color-grey-light); }
    @media only screen and (max-width: 28.125em) {
      .set-ittinery__info {
        font-size: 1.3rem; } }
    .set-ittinery__info--place {
      font-weight: 900;
      color: var(--color-secondary); }

.right-box {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  @media only screen and (max-width: 28.125em) {
    .right-box {
      align-items: center; } }

.place-icon {
  height: 3rem;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 28.125em) {
    .place-icon {
      height: 2.5rem; } }
  .place-icon--bigger {
    height: 4.5rem; }
  .place-icon--ittinery {
    margin-bottom: 0; }

.view-details {
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: var(--color-secondary); }
  @media only screen and (max-width: 28.125em) {
    .view-details {
      font-size: 1.2rem;
      text-align: center; } }

.view-details:hover {
  cursor: pointer; }

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem; }

.place-info {
  font-size: 2.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: var(--color-grey-dark-2);
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .place-info {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 28.125em) {
    .place-info {
      font-size: 1.5rem; } }

.time-info {
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: var(--color-grey-light); }
  @media only screen and (max-width: 28.125em) {
    .time-info {
      font-size: 1.3rem; } }

.hour {
  color: var(--color-secondary); }
  .hour--strong {
    font-weight: 900; }

.title-box {
  background-color: var(--color-secondary);
  background-image: url(../img/img5.png);
  background-position: bottom;
  background-size: cover;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem; }

.title {
  text-align: center;
  color: var(--color-white);
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .title {
      font-size: 1.5rem;
      font-weight: 400; } }

.data-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem; }
  .data-info__data {
    display: flex;
    flex-direction: row; }

.select {
  height: 1rem;
  margin-left: 1rem;
  align-self: flex-end; }
  .select:hover {
    cursor: pointer; }

.place {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  background-color: var(--color-white);
  border-radius: .5rem;
  padding: 1.5rem 2rem;
  height: 7rem;
  border: 1px solid var(--color-border); }
  @media only screen and (max-width: 28.125em) {
    .place {
      padding: 1.5rem;
      margin: 0 2rem; } }
  .place__hour {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    color: var(--color-grey-light);
    align-self: center; }
    @media only screen and (max-width: 37.5em) {
      .place__hour {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 28.125em) {
      .place__hour {
        font-size: 1.2rem; } }
  .place__box {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .place__icon {
    width: 4rem;
    margin-right: 3rem; }
  .place__title {
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: var(--color-grey-dark-2); }
    @media only screen and (max-width: 37.5em) {
      .place__title {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 28.125em) {
      .place__title {
        font-size: 1.3rem; } }

.add-place-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr; }

.add-place {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  background-color: var(--color-yellow-3);
  margin-right: 5rem;
  margin-bottom: 1.5rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding: 1.5rem 0; }
  @media only screen and (max-width: 37.5em) {
    .add-place {
      grid-column-start: 2; } }
  @media only screen and (max-width: 28.125em) {
    .add-place {
      grid-column-start: 1;
      margin: 1rem 2rem; } }
  .add-place__destination {
    display: flex;
    font-size: 1.6rem;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color: var(--color-yellow-1);
    margin-left: 1.5rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 28.125em) {
      .add-place__destination {
        grid-column-start: 2;
        font-size: 1.3rem; } }
  .add-place__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1.5rem; }
    .add-place__icon:hover {
      cursor: pointer; }

.place-note {
  background-color: var(--color-yellow-3);
  margin-left: 7rem;
  margin-right: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .place-note {
      margin: 2rem; } }

.note {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: var(--color-yellow-2);
  font-weight: 900;
  padding: 1.5rem 0;
  margin-left: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .note {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .note {
      font-size: 1.1rem; } }
  .note hr {
    width: 90%;
    border-bottom: 0.5px solid var(--color-yellow-1);
    margin: 0 auto; }

.place-empty {
  background-color: var(--color-yellow-3);
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  border: 0.5rem dashed var(--color-yellow-1);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.data-box {
  background-color: var(--color-main-button);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding-bottom: 9rem; }

.contact-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 9rem; }

.contact-box {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr; }
  @media only screen and (max-width: 57.5em) {
    .contact-box {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 28.125em) {
    .contact-box {
      display: flex;
      margin-top: -5rem; } }

.or {
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  display: grid;
  justify-self: center;
  align-self: center;
  color: var(--color-white); }

.adress-box {
  padding-top: 10rem; }
  @media only screen and (max-width: 28.125em) {
    .adress-box {
      padding-top: 6rem;
      margin: 0 4rem; } }

.adresses li {
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  color: var(--color-white);
  margin-bottom: 1.5rem; }
  .adresses li:first-child {
    margin-top: 6rem; }
    @media only screen and (max-width: 28.125em) {
      .adresses li:first-child {
        margin-top: 4rem; } }
  .adresses li img {
    margin-right: .5rem; }

.find-map {
  margin-top: -1.5rem;
  margin-left: 1.8rem;
  text-transform: uppercase;
  font-style: italic;
  color: var(--color-yellow-intense); }

.form-box {
  display: grid; }
  @media only screen and (min-width: 61.88em) {
    .form-box {
      margin-left: 5rem; } }

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 6rem);
  margin-top: 10rem;
  grid-gap: 2rem; }
  @media only screen and (max-width: 28.125em) {
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .contact input,
  .contact textarea {
    border-radius: .5rem;
    border: 0.5px solid var(--color-grey-light);
    padding-left: 3rem; }
    .contact input:focus,
    .contact textarea:focus {
      border-radius: .5rem;
      border: 0.5px solid var(--color-grey-dark-3);
      outline: none; }
  .contact input::placeholder,
  .contact textarea::placeholder {
    font-size: 1.4rem;
    color: var(--color-grey-light);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic; }
  .contact input[type="email"] {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/3; }
  .contact textarea {
    display: grid;
    grid-row: 3/5;
    grid-column: 1/3;
    padding-top: 3rem;
    height: 80%; }
    @media only screen and (max-width: 28.125em) {
      .contact textarea {
        height: 50%; } }
  @media only screen and (max-width: 28.125em) {
    .contact input {
      display: flex;
      width: 100%;
      height: 4rem;
      margin-bottom: 1.5rem; } }

.company {
  display: grid;
  grid-row: 2/3;
  grid-column: 1/2; }

.subject {
  display: grid;
  grid-row: 2/3;
  grid-column: 2/3; }

.keep-touch-box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 6.5rem;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 57.5em) {
    .keep-touch-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  @media only screen and (max-width: 28.125em) {
    .keep-touch-box {
      display: flex;
      flex-direction: column; } }

@media only screen and (max-width: 73.125em) {
  .left-side {
    margin-left: 5rem; } }

@media only screen and (max-width: 28.125em) {
  .left-side {
    margin-left: 0; } }

.right-side {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  width: 82%; }
  @media only screen and (max-width: 73.125em) {
    .right-side {
      margin-right: 5rem; } }
  @media only screen and (max-width: 57.5em) {
    .right-side {
      width: 90%; } }
  @media only screen and (max-width: 28.125em) {
    .right-side {
      margin-right: 2rem; } }

.contact-touch {
  width: 86%; }
  @media only screen and (max-width: 28.125em) {
    .contact-touch {
      width: 100%; } }
  .contact-touch input {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border: 0.5px solid var(--color-grey-light);
    height: 7rem;
    width: 100%;
    padding-left: 3rem; }
    @media only screen and (max-width: 57.5em) {
      .contact-touch input {
        margin-top: 4rem; } }
    @media only screen and (max-width: 28.125em) {
      .contact-touch input {
        padding-left: 1.5rem;
        margin-left: 2rem; } }
    .contact-touch input:focus {
      border-top-left-radius: .5rem;
      border-bottom-left-radius: .5rem;
      border: 0.5px solid var(--color-primary);
      outline: none; }
  .contact-touch::placeholder {
    font-size: 1.4rem;
    color: var(--color-grey-light);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic; }
    @media only screen and (max-width: 28.125em) {
      .contact-touch::placeholder {
        font-size: 1.1rem; } }

.arrow-box {
  width: 15%;
  height: 7rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: var(--color-primary);
  border-bottom: 0.5px solid var(--color-grey-light);
  border-right: 0.5px solid var(--color-grey-light);
  border-top: 0.5px solid var(--color-grey-light);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: .2s; }
  @media only screen and (max-width: 57.5em) {
    .arrow-box {
      margin-top: 4rem; } }

.send-email {
  height: 3rem; }

.arrow-box:hover {
  background-color: var(--color-dark);
  cursor: pointer; }

.footer-box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .footer-box {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end; }
  @media only screen and (max-width: 37.5em) {
    .copyright {
      margin: 3rem 0; } }
  .copyright__info {
    font-size: 1.2rem;
    color: var(--color-grey-dark-2);
    font-family: 'Lato', sans-serif; }

.social-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  @media only screen and (max-width: 73.125em) {
    .social-box {
      margin-right: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .social-box {
      margin-right: 0; } }

.social-media {
  height: 3rem; }
  @media only screen and (max-width: 57.5em) {
    .social-media {
      flex-direction: column;
      display: flex;
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .social-media {
      flex-direction: row; } }
  .social-media__icon {
    height: 3rem;
    margin-left: 1rem;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: all .2s; }
    .social-media__icon--fb:hover {
      border: 2px solid var(--color-fb);
      border-radius: 50%;
      background-color: var(--color-fb); }
    .social-media__icon--twitter:hover {
      border: 2px solid var(--color-twitter);
      border-radius: 50%;
      background-color: var(--color-twitter); }
    .social-media__icon--insta:hover {
      border: 2px solid var(--color-insta);
      border-radius: 50%;
      background-color: var(--color-insta); }

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  @media only screen and (max-width: 73.125em) {
    .menu {
      margin-left: 5rem; } }
  .menu__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    @media only screen and (max-width: 65.31em) {
      .menu__list {
        flex-direction: column;
        height: 100%; } }
  .menu__item {
    color: var(--color-grey-dark-3);
    margin-right: 2.2rem; }
    .menu__item:first-child {
      list-style: none; }
    @media only screen and (max-width: 65.31em) {
      .menu__item:first-child {
        list-style: disc;
        margin-left: .4rem; } }
    .menu__item:not(:first-child) {
      margin-left: .4rem; }
    @media only screen and (max-width: 65.31em) {
      .menu__item:not(:last-child) {
        margin-bottom: 1rem; } }
  .menu__link, .menu__link:link, .menu__link:visited {
    font-size: 1.2rem;
    color: var(--color-grey-dark-3);
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    transition: all .1s;
    border-radius: 1rem;
    border: .2px solid transparent;
    padding: .5rem; }
  .menu__link:hover {
    color: var(--color-white);
    border-radius: 1rem;
    border: 0.2px solid var(--color-white);
    padding: .5rem;
    backface-visibility: hidden; }

.top,
.down {
  position: fixed;
  right: 2.5rem;
  width: 4rem;
  height: 4rem;
  z-index: 9999; }
  @media only screen and (max-width: 28.125em) {
    .top,
    .down {
      right: 0; } }
  .top i,
  .down i {
    font-size: 3rem;
    color: var(--color-grey-dark-2);
    z-index: 88888888;
    display: inline;
    cursor: pointer;
    transition: all .2s; }
    @media only screen and (max-width: 28.125em) {
      .top i,
      .down i {
        font-size: 2.1rem; } }
    .top i:hover,
    .down i:hover {
      color: var(--color-dark); }

.top {
  bottom: 7rem; }

.down {
  bottom: 3rem; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/header.png);
  background-position: center;
  position: relative;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 96.6em) {
    .header {
      background-size: cover; } }

.container {
  max-width: 117rem;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .container {
      max-width: 200rem; } }

.section-home {
  margin-top: -4.5rem;
  z-index: 10; }

.section-destination {
  background-color: var(--color-tertiary); }

.section-contact {
  background-image: linear-gradient(rgba(var(--color-primary-2), 0.8), rgba(var(--color-primary-2), 0.8)), url(../img/map2.png);
  background-position: bottom;
  background-size: cover;
  padding-bottom: 8rem; }

.section-keep-in-touch {
  background-color: var(--color-print-button); }

.footer {
  background-image: url(../img/mountain.png), linear-gradient(rgba(var(--color-dark-3), 1), rgba(var(--color-dark-3), 1));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 24rem;
  padding-top: 3rem;
  padding-bottom: 2rem; }
